<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ output extension=".cs" #>
<#
const int funcArgLimit = 16;
#>
using System;

namespace XNetEx.Functions;

public static class FunctionComposition
{
<#
for (int funcArgCount = 1; funcArgCount <= funcArgLimit; funcArgCount++)
{
    var composeTypeParams = Enumerable.Range(1, funcArgCount)
        .Select(argIndex => $"T{argIndex}");
    var composeArgParams = Enumerable.Range(1, funcArgCount)
        .Select(argIndex => $"arg{argIndex}");
    for (int innerArgCount = 1; innerArgCount <= funcArgCount; innerArgCount++)
    {
        var outerArgCount = funcArgCount - innerArgCount;
        var innerTypeParams = Enumerable.Range(1, innerArgCount)
            .Select(argIndex => $"T{argIndex}");
        var outerTypeParams = (new[] { "TM" }).Concat(
            Enumerable.Range(innerArgCount + 1, outerArgCount)
                .Select(argIndex => $"T{argIndex}"));
        var typeParams = innerTypeParams.Concat(outerTypeParams);
        var innerArgs = Enumerable.Range(1, innerArgCount)
            .Select(argIndex => $"arg{argIndex}");
        var innerArgsText = string.Join(", ", innerArgs);
        var outerArgs = Enumerable.Range(innerArgCount + 1, outerArgCount)
            .Select(argIndex => $"arg{argIndex}");
        var outerArgsText = string.Join(", ", outerArgs);
        if (outerArgsText.Length != 0) { outerArgsText = ", " + outerArgsText; }
#>
    public static Action<<#= string.Join(", ", composeTypeParams) #>>
        Compose<<#= string.Join(", ", typeParams) #>>(
            this Action<<#= string.Join(", ", outerTypeParams) #>> outerAction,
            Func<<#= string.Join(", ", innerTypeParams) #>, TM> innerFunc)
    {
        return (<#= string.Join(", ", composeArgParams) #>) =>
            outerAction.Invoke(innerFunc.Invoke(<#= innerArgsText #>)<#= outerArgsText #>);
    }

    public static Func<<#= string.Join(", ", composeTypeParams) #>, TR>
        Compose<<#= string.Join(", ", typeParams) #>, TR>(
            this Func<<#= string.Join(", ", outerTypeParams) #>, TR> outerFunc,
            Func<<#= string.Join(", ", innerTypeParams) #>, TM> innerFunc)
    {
        return (<#= string.Join(", ", composeArgParams) #>) =>
            outerFunc.Invoke(innerFunc.Invoke(<#= innerArgsText #>)<#= outerArgsText #>);
    }

    public static Action<<#= string.Join(", ", composeTypeParams) #>>
        ComposeNext<<#= string.Join(", ", typeParams) #>>(
            this Func<<#= string.Join(", ", innerTypeParams) #>, TM> innerFunc,
            Action<<#= string.Join(", ", outerTypeParams) #>> outerAction)
    {
        return (<#= string.Join(", ", composeArgParams) #>) =>
            outerAction.Invoke(innerFunc.Invoke(<#= innerArgsText #>)<#= outerArgsText #>);
    }

    public static Func<<#= string.Join(", ", composeTypeParams) #>, TR>
        ComposeNext<<#= string.Join(", ", typeParams) #>, TR>(
            this Func<<#= string.Join(", ", innerTypeParams) #>, TM> innerFunc,
            Func<<#= string.Join(", ", outerTypeParams) #>, TR> outerFunc)
    {
        return (<#= string.Join(", ", composeArgParams) #>) =>
            outerFunc.Invoke(innerFunc.Invoke(<#= innerArgsText #>)<#= outerArgsText #>);
    }
<#
        if ((funcArgCount != funcArgLimit) || (outerArgCount != 0))
        {
#>

<#
        }
    }
}
#>
}
